/*
 *Estilos de las páginas
 */
:root {
  --desktop: "placeholder-url";
  --mobile: "placeholder-url";
}

/*Background de la landing principal*/
body {
  background-image: var(--desktop);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
/*Background de gracias*/
.body-gracias {
  background-image: url("/assets/img/Background-min.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-size: cover;
}
/*El background ocupa toda la página*/
.cover-container {
  height: 100vh;
  max-width: 42em;
}
/*Colores de los botones*/
.btn-primary {
  background-color: #169cbc !important;
  border-color: #169cbc !important;
}
/*Cambio de color cuando el usuario interactua con el botón*/
.btn-primary:hover {
  background-color: #979797 !important;
  border-color: #979797 !important;
}
a:hover li {
  color: #169cbc;
}
/*Los elementos del formularios se despliegan uno debajo de otro*/
form {
  display: inline-block;
}
/*Posición de la imagen del programa*/
.program {
  position: absolute;
  margin: 3rem;
  bottom: 0;
  right: 0;
}
/*Responsive*/
@media only screen and (max-width: 1275px) {
  .program {
    position: static;
    margin: 0;
  }
  .img-fluid {
    width: 75%;
  }
  .centered i {
    width: 75px;
  }
  .principal {
    margin: 0 auto !important;
    text-align: center;
    float: none !important;
  }
}
@media only screen and (max-width: 800px) {
  body {
    background-color: #169cbc;
    background-image: none;
  }
}
@media only screen and (max-width: 550px) {
  .principal {
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
  }
  .me-5{
     margin: 0.5rem !important;
  }
  select {
    width: 100% !important;
  }
}
/*VALIDACIÓN DEL FORMULARIOS*/
.validateCheck {
  border: solid 2px red !important;
  outline: none !important;
}
.completed {
  border-color: #ced4da !important;
}
/*Color del texto de gracias*/
.display-1 {
  color: #46799f;
}
/*Color del texto de confirmación de envio*/
.fs-1 {
  color: #169cbc;
}
.fs-2 {
  color: #707070;
}

/*ELEMENTO DE CARGA*/

.lds-ring {
  display: none;
  position: relative;
  width: 25px;
  height: 25px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 35px;
  height: 35px;
  margin: 8px;
  border: 8px solid #169cbc;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #169cbc transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
